.wrapper {
  min-height: 100vh;
}

.characterWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.title {
  color: orange;
  text-align: center;
}

.infoWrapper {
  border-bottom: 2px solid rgb(14, 120, 132);
}

.parameterRow {
  display: flex;
  align-items: center;
}

.parameterRow + .parameterRow {
  border-top: 1px solid greenyellow;
  margin-top: 5px;
}

.parameterText {
  color: greenyellow;
}

.parameterValue {
  margin-left: 5px;
  color: #fff;
}

.imageWrapper {
  margin-left: 20px;
  max-height: 300px;
}

.image {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}