.wrapper {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
}

.infoText {
  width: 150px;
  color: orange;
  font-size: 20px;
}

.pagiBtn {
  border: 1px solid yellowgreen;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
}

.pagiBtn:hover {
  background-color: yellowgreen;
  color: #fff;
  transition: .2s;
}

.pagiBtn + .pagiBtn {
  margin-left: 10px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  width: 150px;
}