.wrapper {
  background-color: rgb(24, 11, 37);
}

.characterWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.title {
  color: orange;
}

.infoWrapper {
}

.parameterRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid greenyellow;
}

.parameterRow + .parameterRow {
  margin-top: 5px;
}

.parameterText {
  color: greenyellow;
}

.parameterValue {
  margin-left: 5px;
  color: #fff;
}

.imageWrapper {
  margin-left: 20px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}