body {
  background-color: rgb(24, 11, 37);
  padding: 0;
  margin: 0 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  color: orange;
}

p {
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}