/* pagination */

.pagiBtn {
  border: 1px solid yellowgreen;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;
}

.pagiBtn:hover {
  background-color: yellowgreen;
  color: #fff;
  transition: .2s;
}

.pagiBtn + .pagiBtn {
  margin-left: 10px;
}